* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #d9deee;
}
.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 30px;
}
h3 {
    font-weight: 600;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #555;
    font-size: 14px;
    
}

p {
    margin: 0;
    padding-bottom: 20px;
    color: #777;
    font-size: 14px;
}

input{
    padding: 15px ;
    margin: 5px 0;
    border-radius: 4px;
    border: 0.5px solid #ddd;

}
input[type="text"]{
    width: 280px;
}
::placeholder{
    color: #ddd;
}
button {
    padding: 17px 50px;
    border: none;
    background-color: #315fa5;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
    box-shadow: 3px 3px 8px rgb(179, 179, 179);
}
input[type="checkbox"]{
    margin-right: 10px;
    
}
.inline span {
    width: 400px;
    display: flex;
    justify-content: left;
    margin-top: 14px;
    padding-top: 5px;
    font-size: 12px;
    color: #777;
}